body {
    background-color: #E5E5E5;
}

.container {
    width: 900px;
    height: 842px;
    margin: 0 auto;
    margin-top: 30px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 300px;
    background-color: #233A5F;
    height: 842px;
}

.main {
    width: 600px;
    background-color: #FFFFFF;
    height: 842px;
}

.sidebar-container {
    padding-left: 25px;
    padding-top: 31px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    background-image: url("https://avatars.githubusercontent.com/u/101521647?v=4");
    background-size: contain;
    border-radius: 50%;
}

.name-role-block {
    margin: 20px 0;
}

.name {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    line-height: 50px;
    font-weight: 600;
}

.role {
    color: #C3C2C2;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.contacts {
    width: 225px;
    margin: 20px 0;
}

.block {
    background-color: #E5E5E5;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.block-1 {

}

.block-2 {
    margin-top: 8px;
}

.block-3 {
    margin-top: 8px;
}

.block-4 {
    margin-top: 8px;
}

.section-title {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
}

.skills {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    padding-left: 25px;
    margin-top: 8px;
}

.projects {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    padding-left: 25px;
    margin-top: 8px;
}

.main-container {
    margin: 32px;
}

.main-title {
    color: #233A5F;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
}

.main-title-underline {
    background-color: #233A5F;
    width: 45px;
    height: 3px;
    margin-bottom: 12px;
}

.main-about {
    color: #878787;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 20px;
}

code {
    color: #878787;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

.main-courses {
    color: #878787;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    padding-left: 25px;
    margin-top: 8px;
}

.main-languages {
    color: #878787;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    padding-left: 25px;
    margin-top: 8px;
}